.ui-radiobutton .ui-radiobutton-box {
    background: var(--bulma-scheme-main) !important;
    color: var(--bulma-text-title-l) !important;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-icon-bullet {
    background: var(--bulma-primary) !important;
}

select, 
.ui-selectonemenu,
.ui-inputgroup .ui-inputgroup-addon,
.ui-panelgrid .ui-panelgrid-cell,
.ui-panel .ui-panel-titlebar,
.ui-panel .ui-panel-content {
    background: var(--bulma-background) !important;
    color: var(--bulma-text) !important;
} 

.ui-selectonemenu-panel .ui-selectonemenu-items{
    background: var(--bulma-background) !important;
    color: var(--bulma-text) !important;
    padding: .4em !important;
}

.ui-selectonemenu-item{
    background: var(--bulma-background) !important;
    color: var(--bulma-text) !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight{
    background: var(--bulma-warning-light) !important;
    color: var(--bulma-warning) !important;
}

.ui-datepicker,
.ui-datepicker .ui-datepicker-header {
    background: var(--bulma-background) !important;
    color: var(--bulma-text) !important;
}

.ui-datepicker .ui-inputtext,
.ui-calendar .ui-inputtext {
    background: var(--bulma-background-l) !important;
    color: var(--bulma-text-title-l) !important;
}

.ui-datepicker-panel,
.ui-datepicker-dropdown {
    background: var(--bulma-background) !important;
    color: var(--bulma-text) !important;
}

.ui-datepicker-calendar td a,
.ui-datepicker-calendar th {
    color: var(--bulma-text) !important;
}

.p-datepicker .p-datepicker-input {
    background: var(--bulma-background-l) !important;
    color: var(--bulma-text-title-l) !important;
}

.ui-datepicker {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999; /* optional: make sure it's above other elements */
}
  

.ui-inputfield,
.ui-password-panel {
    background: var(--bulma-background-l) !important;
    color: var(--bulma-text-title-l) !important;
}

.ui-outputlabel,
.ui-outputlabel-label {
    color: var(--bulma-text) !important;
}
