body,
.section,
.ui-card {
    background: var(--bulma-background) !important;
    color: var(--bulma-text-title-l) !important;
}

.ui-commandlink,
.ui-link {
    color: var(--bulma-background) !important;
    text-decoration: none !important;
}

.ui-commandlink:hover{
    background: var(--bulma-link-dark-invert) !important;
    color: var(--bulma-background) !important;
    text-decoration: none !important;
}
hr {
    border: 0;
    height: 2px;
    background: var(--bulma-border-l) !important;
}
