.side-panel {
    width: 200px !important;
    overflow-y: auto !important;
    display: none !important; /* Hidden in mobile by default */
}

@media screen and (min-width: 768px) {
    .side-panel {
        display: block !important; /* Visible on larger screens */
    }
} 
